html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
font-family: sans-serif;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html, body {
    height:100%;
    width:100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.menu {
    position:absolute;
    right: 0px;
    top: 0px;
    padding: 1rem;
    background: rgba(255,255,255,1.0);
    border: 2px solid black;
}

.title {
    position:absolute;
    left:0px;
    top:0px;
    font-size:3rem;
    padding: 1rem;
    color: white;
}

.directions {
    position: absolute;
    bottom: 10px;
    width: 800px;
    right: calc(50% - 400px);
    color: gray;
    text-align: center;
}

button {
    width: 50%;
    border: none;
    outline:none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Default custom select styles */
select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
}

select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid black;
    border-radius: 0px;
    padding: 0.5em 1.5em;
    font-size: 0.75em;
    }
.select-container {position:relative;}

.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}

.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 1em;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
    }

select::-ms-expand {
    display: none;
    }

option {
    overflow: hidden;
}


#left, #right {
    height:100%;
    width:50%;
}

#left {
    float:left;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  border: 2px solid #333;
}

.checked {
    background-color: #333;
}


label {
    font-family: sans-serif;
    font-size: 1.2rem;
}
